@model IEnumerable<Transaction>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Cashier Name</th>
            <th>Product Name</th>
            <th>Date Time</th>
            <th>Qty Before</th>
            <th>Qty After</th>
            <th>Qty Sold</th>
            <th>Sold Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.CashierName</td>
                <td>@transaction.ProductName</td>
                <td>@transaction.TimeStamp.ToString("MM/dd hh:mm")</td>
                <td>@transaction.BeforeQty</td>
                <td>@transaction.AfterQty</td>
                <td>@transaction.SoldQty</td>
                <td>@string.Format("{0:C}", transaction.Price * transaction.SoldQty)</td>
            </tr>
        }
</table>